---
permalink: /categories.json
eleventyExcludeFromCollections: true
---
{
  {% for name, items in collections.byCategory -%}
  "{{ name }}": {{ items | length }}{% if not loop.last %},{% endif %}
  {%- endfor %}
}
